recursive-include votingscore *
prune votingscore/__pycache__
recursive-exclude tests *
recursive-exclude build *
recursive-exclude scripts *

global-exclude *.pyc *.o
global-exclude */__pycache__/*
global-exclude *.pyc
