recursive-include votings_core *
prune python_basic/__pycache__
recursive-exclude tests *
recursive-exclude build *
recursive-exclude scripts *

global-exclude *.pyc *.o
global-exclude */__pycache__/*
global-exclude *.pyc
